*, *:before, *:after {
    box-sizing: border-box;
}
html, body {
    background-color: #342c28;
    font-family: poppins;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 200px;
}
.objects {
    height: 45px;
    border-right: 4px solid #3d3d3d;
    border-left: 4px solid #3d3d3d;
    overflow: hidden;
}
.bar {
    position: relative;
    margin-top: 10px;
    left: -200px;
    width: 100%;
    height: 30px;
    background: #fc8c14;
    box-shadow: 0 0 4px 1px #fc8c14, 0 0 7px #fc8c14, 0 0 7px #fc8c14;
    animation: move 1.5s infinite cubic-bezier(.75,0,.25,1);
}
.text {
    opacity: 1;
    margin-top: -30px;
    width: 100%;
    height:30px;
    font-family: poppins;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
    color: #fc8c14;
    text-shadow: 0 0 5px #fc8c14,0 0 5px #fc8c14,
        0 0 5px #fc8c14,0 0 5px #fc8c14,0 0 5px #fc8c14;
    animation: fade 1.5s infinite cubic-bezier(.75,0,.25,1);
}
@keyframes move {
    0% { transform: translateX(0); }
    100% { transform: translateX(400px); }
    @keyframesfade {
        0%, 100% { opacity: 1; }
        10% { opacity: 1; }
        50% { opacity: 0; }
        90% { opacity: 1; }
    }
}